Source: ignition-fortress
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
               libignition-cmake2-dev (>= 2.12.1),
               libignition-common4-dev (>= 4.5.0),
               libignition-fuel-tools7-dev,
               libignition-gazebo6-dev (>= 6.9.0),
               libignition-gui6-dev (>= 6.4.0),
               libignition-launch5-dev (>= 5.1.0),
               libignition-math6-dev (>= 6.10.0),
               libignition-math6-eigen3-dev (>= 6.10.0),
               libignition-msgs8-dev (>= 8.4.0),
               libignition-physics5-dev (>= 5.1.0),
               libignition-plugin-dev (>= 1.2.1),
               libignition-rendering6-dev (>= 6.3.1),
               libignition-sensors6-dev (>= 6.3.0),
               libignition-tools-dev (>= 1.4.1),
               libignition-transport11-dev,
               libignition-utils1-cli-dev (>= 1.4.0),
               libignition-utils1-dev (>= 1.4.0),
               libsdformat12-dev (>= 12.4.0)
Vcs-Browser: https://github.com/gazebo-release/gz-fortress-release
Vcs-Git: https://github.com/gazebo-release/gz-fortress-release
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: ignition-fortress
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.12.1),
         libignition-common4-dev (>= 4.5.0),
         libignition-fuel-tools7-dev,
         libignition-gazebo6-dev (>= 6.9.0),
         libignition-gui6-dev (>= 6.4.0),
         libignition-launch5-dev (>= 5.1.0),
         libignition-math6-dev (>= 6.10.0),
         libignition-math6-eigen3-dev (>= 6.10.0),
         libignition-msgs8-dev (>= 8.4.0),
         libignition-physics5-dev (>= 5.1.0),
         libignition-plugin-dev (>= 1.2.1),
         libignition-rendering6-dev (>= 6.3.1),
         libignition-sensors6-dev (>= 6.3.0),
         libignition-tools-dev (>= 1.4.1),
         libignition-transport11-dev,
         libignition-utils1-cli-dev (>= 1.4.0),
         libignition-utils1-dev (>= 1.4.0),
         libsdformat12-dev (>= 12.4.0),
         python3-ignition-math6,
         python3-ignition-gazebo6,
         ${misc:Depends}
Multi-Arch: foreign
Description: Collection of Gazebo packages - Fortress
  This is a metapackage used for triggering the whole collection of ignition
  packages corresponding to the Fortress collection
